* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-size: 12px;
    font-family: Arial;
}

a {
    color: #999999;
}

.top {
    background: #f2f2f2;
    padding-top: 5px;
    padding-bottom: 1px;
}

.top span,
.top a {
    color: #999999;
    margin: 0px 10px;
}
.top a .span,
.top a:hover {
    color: #C40000;
    text-decoration: none;
}
.searchDiv{
    background-color: #C40000;
    width: 400px;
    margin: 50px auto;
    /* padding: 1px; */
    height: 40px;
    display: block;
}

.searchDiv input {
    border-color: 2px #C40000;
    width: 275px;
    height: 36px;
    outline: none;
    margin: 1px;
}
.searchButton {
    background: #C40000;
    border: 1px solid transparent;
    color: #ffffff;
    width: 110px;
    height: 36px;
    font-size: 20px;
    font-weight: bold;
    outline: none;
}
.searchButton :focus {
    outline: none;
}
.logo {
    position: absolute;
    left: 0px;
    top: 30px;
}
.searchBelow a {
    padding: 0px 20px;
}

.simplelogo {
    width: 140px;
    position: absolute;
    left: 10px;
    top: 50px;
}
.simplesearchDiv{
    background-color: #C40000;
    width: 350px;
    /* margin: 50px auto; */
    /* padding: 1px; */
    height: 40px;
    display: block;
}
.simplesearchDiv input {
    width: 225px;
    border: 1px solid #C40000 transparent;
    height: 34px;
    margin: 2px;
    outline: none;
}
.footer {
    margin: 24px auto;
    border-top-color: #e7e7e7;
    border-top-style: solid;
    border-top-width: 1px;
}
.footer_ensure  {
    margin: 24px auto;
    text-align: center;

}
.footer_desc {
    
    margin: 0 auto;
    max-width: 1024px;
    padding-top: 30px;
    
    border-top-color: #e7e7e7;
    border-top-style: solid;
    border-top-width: 1px;
}
.footer_desc span {
    font-size: 16px;
    font-weight: bold;
    color: #646464;
}
.footer_desc a {
    display: block;
}
.footer_desc a:hover {
    text-decoration: none;
    color: #C40000;
}

.descColumn {
    padding-left: 15px;
    width: 20%;
    display: block;
}
.copyright {
    background: #000000;
}
.copyrightMiddle {
    
    margin: 0 auto;
    position: relative;
    text-align: left;
    width: 1024px;


}
img.cateye {
    position: absolute;
    display: block;
    top: -33px;
    left: -15px;
}
.whitelink {
    padding: 10px 0;
    font-weight: bold;
}

.whitelink a {
    padding: 0px 5px;
    color: white;
}
.whitelink a:hover {
    text-decoration: none;
}